---
// IconsCard.astro
import type { Icon as IconType } from "../interfaces/icon";
import Icon from "./Icon.astro";
import Tooltip from "./Tooltip.astro";

interface Props {
  title: string;
  icons: IconType[];
  classes?: string;
}

const { title, icons: iconList, classes } = Astro.props;

const baseClasses =
  "block text-center p-6 bg-white border border-secondary-600 rounded-lg shadow dark:bg-secondary-800 dark:border-secondary-700";
const combinedClasses = `${baseClasses} ${classes}`;
---

<div class={combinedClasses}>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
  >
    {title}
  </h5>
  <div class="flex flex-wrap gap-6 justify-center">
    {
      iconList.map((icon) => {
        return (
          <Tooltip content={icon.title}>
            <Icon width="40" height="40" name={icon.iconName} />
          </Tooltip>
        );
      })
    }
  </div>
</div>
