---
interface Props {
  classes?: string;
  iconSize?: string;
  goToSection?: string;
}

const { classes,iconSize, goToSection } = Astro.props;

const baseClasses =
  "cursor-pointer flex justify-center items-center bg-secondary-800 px-3 py-2 rounded-lg text-white tracking-wider shadow-xl animate-bounce hover:animate-none";
const combinedClasses = `${baseClasses} ${classes}`;
---

<a class={combinedClasses} href={goToSection} >
  <svg
    height={iconSize}
    width={iconSize}
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"
      stroke-linejoin="round"
      stroke-linecap="round"></path>
  </svg>
</a>
